.blogpost {
  margin-top: 3.5rem;
  opacity: 0.85;
  transition: opacity 250ms linear;
}

.blogpost:hover {
  opacity: 1;
}

.test {
  border-bottom: 2px solid rgba(255,255,255,0.5);
}

.test:nth-last-child(1) {
  border-bottom: 0 solid rgba(255,255,255,0.5);
}

.content {
  padding: 0.5rem 1rem;
}

.title {
  margin: 0;
  padding: 1.5rem 1rem;
  background: rgba(0,0,0,0.5);
  width: 100%;
  color: rgba(255,255,255,0.9);
  position: absolute;
  z-index: 5;
  bottom: 0;
}

.imageContainer {
  position: relative;
}

.date {
  color: rgba(255,255,255,0.5);
}
