.blogpost {
  background: #f8f8f8;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 8px;
  margin-top: 2rem;
  box-shadow: 5px 4px 20px rgba(0,0,0,0.1);
  transition: transform 400ms ease-in-out, box-shadow 400ms ease-in-out;
}

.blogpost:hover {
  transform: scale(1.03);
  box-shadow: 5px 4px 20px rgba(0,0,0,0.3);
}

.content {
  padding: 1rem;
}

.title {
  margin: 0;
  padding: 1.5rem 1rem;
  background: rgba(0,0,0,0.5);
  width: 100%;
  color: #f8f8f8;
  position: absolute;
  z-index: 5;
  bottom: 0;
}

.imageContainer {
  position: relative;
}

.date {
  color: rgba(0,0,0,0.5);
}
