.footer {
  padding: 0;
  display: flex;
  justify-content: center;
  background: #232323;
}

.imageDiv { 
  margin: 1.5rem 2.5rem;
}

.imageDiv img {
  margin: 0;
}

@media(max-width: 450px) {
  .imageDiv {
    margin: 1rem 0.75rem;
  }
}