.header {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  background: #232323;
  position: fixed;
  z-index: 15;
  width: 100%;
}

.logo {
  color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  z-index: 4;
}

.nav a {
  color: #f8f8f8;
  text-decoration: none;
  padding: 1rem 1.5rem;
  transition: background-color 150ms linear;
}

.nav a:hover {
  background: rgba(255,255,255, 0.4);
}

.menuButton {
  cursor: pointer;
  display: none;
}

@media(max-width: 700px) {
  .header {
    padding: 0;
    flex-direction: column;
  }

  .menuButton {
    display: block;
  }

  .logo {
    position: relative;
    height: 3rem;
    padding: 0 3rem;
    justify-content: space-between;
    background: #222222;
    z-index: 5;
  }

  .nav {
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 3rem;
    background: rgba(0,0,0,0.5);
    transition: transform 300ms ease-in-out;
  }

  .navHidden {
    transform: translateY(-100%);
  }
}