.headerWrapper {
  overflow: hidden;
  position: relative;
}

.outerWrapperClassName {
  height: 100%;
}

.zeroHeight {
  height: 0;
}

.smallHeight {
  height: 40vh;
}

.largeHeight {
  height: 100vh;
}

.headerImageContent {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
}

.headerImageContent a {
  border: 2px solid rgba(255,255,255,0.6);
  padding: 0.5rem 1rem;
  transition: border 250ms, box-shadow 250ms, text-shadow 250ms, background-color 250ms;
}

.headerImageContent a:hover {
  cursor: pointer;
  border: 2px solid rgba(255,255,255,0.8);
  box-shadow: 1px 1px 15px rgba(255,255,255,0.2);
  text-shadow: rgba(255,255,255,0.4) 1px 1px 15px; 
  background-color: rgba(255,255,255,0.1);
}

.headerImageContentBlog {
}

.headerImageContentAbout {
}

@media(max-width: 1000px) {

}