.headerWrapper {
  overflow: hidden;
  position: relative;
}

.outerWrapperClassName {
  height: 100%;
}

.zeroHeight {
  height: 0;
}

.smallHeight {
  height: 40vh;
}

.largeHeight {
  height: 100vh;
}

.headerImageContent {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
}

.headerImageContent a {
  background: orangered;
  padding: 0.5rem 1rem;
  
}

.headerImageContent a:hover {
  cursor: pointer;
}

.headerImageContentBlog {
}

.headerImageContentAbout {
}

@media(max-width: 1000px) {

}