.headerWrapper {
  overflow: hidden;
  position: relative;
}

.outerWrapperClassName {
  height: 100%;
}

.zeroHeight {
  height: 0;
}

.smallHeight {
  height: 40vh;
}

.largeHeight {
  height: 100vh;
}

@media(max-width: 1000px) {

}